* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h4 {
  text-align: center;
  padding: 20px 0px;
}

h3 {
  display: inline-block;
}

#pantallaJuego {
  display: none;
}

#sectionScore {
  display: flex;
  justify-content: space-around;
}

#grilla {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.grillaContainer {
  height: 450px;
  width: 450px;
  background-color: whitesmoke;
}

.grillaContainer div {
  height: 33.33%;
  width: 33.33%;
  float: left;
  box-sizing: border-box;
  border: solid 1px black;
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #e84a5f;
}

.pink{
  background-color: pink;
}

.green {
  background-color: green;
}

#modal{
  display: none;
}