* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	height: 100px;
	background-color: hotpink;
}

#pantallaJuego {
	display: none;
}

#sectionScore {
	display: flex;
	justify-content: space-around;
}

#grilla {
	height: 450px;
	width: 450px;
	background-color: whitesmoke;
}

#grilla div {
	border: solid 1px black;
}

footer {
	height: 50px;
	background-color: hotpink;
}

.pink {
	background-color: pink;
}

.green {
	background-color: green;
}

#modal {
	display: none;
}

#listaJugadasPrevias li {
	list-style: none;
}
